img {
    border-radius: 8px;
}

.moradores-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.morador-container img {
    width: 300px;
}

.morador-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.historia-container img {
    width: 300px;
    margin-right: 24px;
    margin-bottom: 16px;
}

.historia-container {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contato-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.redes-sociais-container {
    font-size: medium;
}